{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   abstract-spacecraft
  </title>
  <link href='{% static "bootstrap\css\bootstrap.min.css" %}' rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&amp;display=swap" rel="stylesheet"/>
  <link href='{% static "css\accounts\user_home_tabs.css" %}' rel="stylesheet"/>
  <link href='{% static "css\navbar.css" %}' rel="stylesheet"/>
 </head>
 <body>
  <div id="django-messages-div">
   {% include "messages.html" %}
  </div>
  <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="/*position: absolute;*/width: 100%;height: auto;max-height: auto;padding: 0px;">
   <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: 'Indie Flower', serif;color: var(--bs-indigo);font-weight: bold;padding: 0px;">
     Abstract Spacecraft
    </a>
    <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse" style="transform: scale(0.74);">
     <span class="visually-hidden">
      Toggle navigation
     </span>
     <span class="navbar-toggler-icon">
     </span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end align-items-lg-center" id="navcol-1" style="margin-bottom: 0px;">
     <ul class="navbar-nav d-lg-flex me-auto justify-content-lg-end align-items-lg-center ms-auto" style="float: right;">
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <button class="btn btn-primary text-nowrap text-center d-flex float-end justify-content-lg-end align-items-lg-center" id="save-button" type="button">
        Save
       </button>
      </li>
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <button class="btn btn-primary text-nowrap text-center d-flex float-end justify-content-lg-end align-items-lg-center" id="undo-button" type="button">
        Undo
       </button>
      </li>
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <button class="btn btn-primary text-nowrap text-center d-flex float-end justify-content-lg-end align-items-lg-center" id="redo-button" type="button">
        Redo
       </button>
      </li>
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <button class="btn btn-primary text-nowrap text-center d-flex float-end justify-content-lg-end align-items-lg-center" id="delete-button" type="button">
        Delete
       </button>
      </li>
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <div class="nav-item dropdown">
        <a aria-expanded="false" class="active d-xl-flex align-items-xl-center btn btn-primary" data-bs-toggle="dropdown" href="#">
         Select
        </a>
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          All
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Deselect
         </a>
        </div>
       </div>
      </li>
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <div class="nav-item dropdown show">
        <a aria-expanded="true" class="active d-xl-flex align-items-xl-center btn btn-primary" data-bs-toggle="dropdown" href="#">
         View
        </a>
        <div class="dropdown-menu dropdown-menu-dark show dropdown-menu-end" id="view-dropdown-menu" style="top: -50px;">
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Center
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Zoom Out
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Zoom In
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Reset Zoom
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Grid
         </a>
        </div>
       </div>
      </li>
      <li class="nav-item d-lg-flex justify-content-lg-end align-items-lg-center">
       <div class="nav-item dropdown">
        <a aria-expanded="false" class="active d-xl-flex align-items-xl-center btn btn-primary" data-bs-toggle="dropdown" href="#">
         More
        </a>
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" id="more-dropdown-menu">
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Export
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Grid
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Shortcuts
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          About
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Show Queue
         </a>
         <a class="dropdown-item d-lg-flex justify-content-lg-end" href="#">
          Show Hints
         </a>
        </div>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  {% include "cd_editor/diagram_editor_include.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
  </script>
  <script src='{% static "js\_javascript_tools.js" %}'>
  </script>
  <script src='{% static "js\cd_editor\connect_quiver_gui.js" %}'>
  </script>
 </body>
</html>
