{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   abstract-spacecraft
  </title>
  <link href='{% static "bootstrap\css\bootstrap.min.css" %}' rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet"/>
  <link href='{% static "css\abstract_spacecraft\navbar_buttons.css" %}' rel="stylesheet"/>
  <link href='{% static "css\accounts\user_home_tabs.css" %}' rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
 </head>
 <body>
  <div id="django-messages-div">
   {% include "messages.html" %}
  </div>
  <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="/*position: absolute;*/width: 100%;height: auto;max-height: auto;padding: 0px;">
   <div class="container">
    <a class="navbar-brand" data-bss-hover-animate="rubberBand" href="/" style="font-family: 'Indie Flower', serif;color: var(--bs-indigo);font-size: xx-large;font-weight: bold;margin: 0px;padding: 0px;">
     Abstract Spacecraft
    </a>
    <button class="navbar-toggler" data-bs-target="#navcol-2" data-bs-toggle="collapse" style="transform: scale(0.74);">
     <span class="visually-hidden">
      Toggle navigation
     </span>
     <span class="navbar-toggler-icon">
     </span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-2" style="margin-bottom: 0px;">
     <ul class="navbar-nav me-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
     </ul>
     <div class="btn-group" role="group" style="margin: 4px;border-radius: 10px;">
      <button class="btn btn-primary" id="centre-view-button" style="border-radius: 8px;margin-top: 5px;margin-bottom: 5px;" type="button">
       Center
      </button>
      <button class="btn btn-primary" id="save-button" style="border-radius: 8px;margin-top: 5px;margin-bottom: 5px;" type="button">
       Save
      </button>
      <a class="btn btn-primary" href="/accounts/sign-out" id="sign-out-button-1" role="button" style="border-radius: 8px;margin-top: 5px;margin-bottom: 5px;">
       Sign Out
      </a>
     </div>
    </div>
   </div>
  </nav>
  {% include "cd_editor/diagram_editor_include.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
  </script>
  <script src='{% static "js\bs-init.js" %}'>
  </script>
  <script src='{% static "js\_javascript_tools.js" %}'>
  </script>
  <script src='{% static "js\cd_editor\connect_quiver_gui.js" %}'>
  </script>
 </body>
</html>
