[submodule "quiver"]
	path = quiver
	url = https://github.com/enjoysmath/quiver.git
[submodule "database_of_proofs_engine/static/quiver"]
	path = database_of_proofs_engine/static/quiver
	url = https://github.com/enjoysmath/quiver.git
